<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SalonBookings</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <header>
    <div class="logo">
      <h1>GlowMe Beauty Parlour</h1>
    </div>
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/services">Service</a>
      <a href="/about">About </a>
      <button type="submit" id="showLoginBtn">
        <a href="/login">Login</a>
      </button>
      <a href="/register"><button type="submit">Register</button></a>
    </div>
    <div class="user-info">
      <% if (isLoggedIn) { %> Welcome, <%= user.name %>!
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/login">Login</a>
      <% } %>
    </div>
  </header>
  <body>
    <section class="hero-section">
      <div class="hero-text">
        <h2>
          Get the Perfect Look, <br />Book Your<br />
          Appointment Today
        </h2>
        <button>Book Your Appointment</button>
      </div>
      <div class="style" id="style">
        <img src="./images/stylerr.png" alt="" />
      </div>
    </section>
    <section>
      <h1>Our Services</h1>
      <div class="gallery">
        <div>
          <img src="./images/pic9.jpg" alt="" />
          <h3>kesh 1500</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic8.jpg" alt="" />
          <h3>kesh2000</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic7.jpg" alt="" />
          <h3>kesh800</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic6.jpg" alt="" />
          <h3>kesh1500</h3>
          <button type="submit">Book</button>
        </div>
      </div>
    </section>
    <h1><a href="">How it Works</a></h1>
    <section class="it-works">
      <div class="try-on">
        <img src="./images/serricon.webp" alt="" />
        <p>1 Select Service</p>
      </div>
      <div class="arrow-icon">
        <img src="images/arrrow-removebg-preview.png" alt="" />
      </div>
      <div class="try-on">
        <img src="./images/style.png" alt="" />
        <p>2 Choose Stylist</p>
      </div>
      <div class="arrow-icon">
        <img src="images/arrrow-removebg-preview.png" alt="" />
      </div>
      <div class="try-on">
        <img src="./images/calendar icon.png" alt="" />
        <p>3 Pick Date&Time</p>
      </div>
      <div class="arrow-icon">
        <img src="images/arrrow-removebg-preview.png" alt="" />
      </div>
      <div class="try-on">
        <img src="./images/tickicon.webp" alt="" />
        <p>4 Confirm Booking</p>
      </div>
    </section>

    <footer>
      <div>
        <p>Special Offer <span>20% Off Your First Visit</span></p>
        <button>Book Now</button>
      </div>
    </footer>
  </body>
  <script src="js/script.js"></script>
</html>
