<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SalonBookings</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <header>
    <div class="logo">
      <h1>GlowMe Beauty Parlour</h1>
    </div>
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/services">Service</a>
      <a href="/about">About </a>
      <button type="submit" id="showLoginBtn">
        <a href="/login">Login</a>
      </button>
      <a href="/register"><button type="submit">Register</button></a>
    </div>
    <div class="user-info">
      <% if (isLoggedIn) { %> Welcome, <%= user.name %>!
      <a href="/logout">Logout</a>
      <% }else { %>
      <a href="/login"></a>
      <% } %>
    </div>
  </header>
  <body>
    <section class="hero-section">
      <div class="hero-text">
        <h2>
          Get the Perfect Look, <br />Book Your<br />
          Appointment Today
        </h2>
        <button>Book Your Appointment</button>
      </div>
      <!-- <div class="style" id="style">
        <img src="" alt="" />
      </div> -->
    </section>
    <section class="services">
      <h2>Our Services</h2>
      <div class="services-list">
        <div class="facials">
          <h3>Hair Styling</h3>
          <p>
            Get a trendy haircut or a stylish blow-dry to enhance your look.
          </p>
          <button>learn more</button>
        </div>
        <div class="facials">
          <h3>Makeup</h3>
          <p>
            Professional makeup services for weddings, parties, and special
            occasions.
          </p>
          <button>learn more</button>
        </div>
        <div class="facials">
          <h3>Facials</h3>
          <p>
            Rejuvenate your skin with our range of relaxing and nourishing
            facials.
          </p>
          <button>learn more</button>
        </div>
        <div class="facials">
          <h3>Nail Art</h3>
          <p>
            Creative and beautiful nail art designs to complement your style.
          </p>
          <button>learn more</button>
        </div>
        <div class="facials">
          <h3>Massage Therapy</h3>
          <p>Relax and unwind with our therapeutic massage sessions.</p>
          <button>learn more</button>
        </div>
      </div>
    </section>

    <section>
      <div class="gallery">
        <div>
          <img src="./images/pic9.jpg" alt="" />
          <h3>kesh 1500</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic8.jpg" alt="" />
          <h3>kesh2000</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic7.jpg" alt="" />
          <h3>kesh800</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic6.jpg" alt="" />
          <h3>kesh1500</h3>
          <button type="submit">Book</button>
        </div>
      </div>
    </section>

    <section class="general">
      <h1>How it Works</h1>
      <div class="it-works">
        <div class="try-on">
          <img src="./images/serricon.webp" alt="" />
          <p>1 Select Service</p>
        </div>
        <div class="arrow-icon">
          <img src="images/arrrow-removebg-preview.png" alt="" />
        </div>
        <div class="try-on">
          <img src="./images/style.png" alt="" />
          <p>2 Choose Stylist</p>
        </div>
        <div class="arrow-icon">
          <img src="images/arrrow-removebg-preview.png" alt="" />
        </div>
        <div class="try-on">
          <img src="./images/calendar icon.png" alt="" />
          <p>3 Pick Date&Time</p>
        </div>
        <div class="arrow-icon">
          <img src="images/arrrow-removebg-preview.png" alt="" />
        </div>
        <div class="try-on">
          <img src="./images/tickicon.webp" alt="" />
          <p>4 Confirm Booking</p>
        </div>
      </div>
    </section>

    <footer>
      <div>
        <p>Special Offer <span>20% Off Your First Visit</span></p>
        <button>Book Now</button>
      </div>
    </footer>
  </body>
  <script src="js/script.js"></script>
  <style>
    .services {
      margin: 0 10px;
      width: 100%;
    }
    .services h2 {
      text-align: center;
    }

    .services-list {
      color: #f1f1f1;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .services-list > div {
      color: black;
      font-size: larger;
      background-color: pink;
      border-radius: 5px;
      padding: 20px;
      flex: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .services-list > .facials {
      background-size: cover;
      background-position: center;
      transform: scale(1.05);
      transition: transform 0.3s ease;
      height: 200px;
      display: flex;
      flex-direction: column;
    }
    .services-list > .facials button {
      background-color: #df4578;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      border: none;
      margin-top: auto;
      align-self: center;
    }

    .services-list button:hover {
      background-color: #c0392b;
    }

    .services-list .services-list-item {
      background-image: url("./images/pic14.jpg ");
      background-size: cover;
      background-position: center;
    }
    .general h1 {
      text-align: center;
    }
    .services-list > .facials p {
      font-size: 15px;
    }
    .facials h3 {
      flex-wrap: nowrap;
    }
  </style>
</html>
