<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SalonBookings</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <header>
    <div class="logo">
      <h1>GlowMe Beauty Parlour</h1>
    </div>
    <div class="nav">
      <a href="">Home</a>
      <a href="">Service</a>
      <a href="">About </a>
      <button type="submit" id="showLoginBtn">Login</button>
      <button type="submit">Register</button>
    </div>
  </header>
  <body>
    <section class="hero-section">
      <div class="hero-text">
        <h2>
          Get the Perfect Look, <br />Book Your<br />
          Appointment Today
        </h2>
        <button>Book Your Appointment</button>
      </div>
      <div class="style" id="style">
        <img src="./images/stylerr.png" alt="" />
      </div>
    </section>
    <section>
      <h1>Our Services</h1>
      <div class="gallery">
        <div>
          <img src="./images/pic9.jpg" alt="" />
          <h3>kesh 1500</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic8.jpg" alt="" />
          <h3>kesh2000</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic7.jpg" alt="" />
          <h3>kesh800</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic6.jpg" alt="" />
          <h3>kesh1500</h3>
          <button type="submit">Book</button>
        </div>
        <!-- <div>
          <img src="./images/pic3.jpg" alt="" />
          <h3>kesh1500</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic5.jpg" alt="" />
          <h3>kesh3000</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic4.jpg" alt="" />
          <h3>kesh2700</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic11.jpg" alt="" />
          <h3>kesh1800</h3>
          <button type="submit">Book</button>
        </div>
        <div>
          <img src="./images/pic18.jpg" alt="" />
          <h3>kesh1000</h3>
          <button type="submit">Book</button>
        </div>

        <div>
          <img src="./images/pic13.jpg" alt="" />
          <h3>kesh2000</h3>
          <button type="submit">Book</button>
        </div> -->
      </div>
    </section>
    <section>
      <h1><a href="">How it Works</a></h1>
      <div>Check the haircuts</div>
      <div>Choose your hairstyles</div>
      <div>choose pick your stylist</div>
      <div>Virtul hairstyle Try On</div>
    </section>
    <footer>
      <div>
        <p>Special Offer <span>20% Off Your First Visit</span></p>
        <button>Book Now</button>
      </div>
    </footer>
  </body>
  <script src="script.js"></script>
</html>
