<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" name="fullname" />
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" />
      <label for="loyalty">Loyalty Points</label>
      <input type="text" name="loyalty" id="loyalty" />
      <label for="password">password</label>
      <input type="password" id="password" name="password" hashed />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
